#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}
.navbar > a {
	padding: 0.5rem 1rem;
	background: #c4c4c4;
	color: black;
	text-decoration: none;
}

.outlet {
	max-width: 1000px;
	margin: auto;
	padding-top: 5rem;
}

.inputform {
	width: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
  margin-bottom: 2rem;
}
.inputform > button {
	background: #c4c4c4;
	width: 100px;
	padding: 0.5rem 0;
	cursor: pointer;
	outline: none;
	border: none;
	margin: auto;
}
.inputform input {
	background: #c4c4c4;
	border: none;
	outline: none;
	width: 150px;
}

.inputform > div {
	display: flex;
	justify-content: space-between;
  
}
.graph {
	min-height: 500px;
}
